/*.wrapper-3t9DeA {display:none !important;} */
/* If you have any issues with this theme. */
/* Feel free to make an issue or */
/* Contact me on discord at ! a ehh#0001*/
.avatarStack-2Dr8S9 {display:none !important;}
.avatar-1BDn8e  {display:none !important;} 
.replyAvatar-1K9Wmr {display:none !important;}
.latin12CompactTimeStamp-38a8OU {display:none !important;}
/*.avatar-37jOim {display:none !important;} */

.cozy-3raOZG.wrapper-2a6GCs {
  padding-left: 35px;
}


.layout-2DM8Md {
  padding-left: 15px;
  border-style: solid;
  border-width: medium;
  border-bottom-style: solid;
  border-left-style: none;
  border-top-style: none;
  border-right-style: none;
	border-color: #2f3133;
  border-radius: 5px;
}
.repliedMessage-VokQwo:before {
  --spine-width: 0px;
}
.message-2qnXI6 {
  border-style: solid;
  border-width: medium;
  border-bottom-style: dotted;
  border-left-style: none;
  border-top-style: none;
  border-right-style: none;
  border-image-source: linear-gradient(90deg, rgba(56,60,66,1) 0%, rgba(59,63,69,1) 50%, rgba(56,60,66,1) 100%);
  border-image-slice: 5;
  padding-top: 2px;
}

.headerTop-3vNv-a{
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.avatarWrapper-3r9PdD{
  border-radius: none;
  position: none;
  z-index: none;
  top: none;
  left: none;
}
.assetsLargeMaskVoiceChannel-2k1oGM {-webkit-mask-size: cover;}

/* Custom status emoji center */


.customStatus-oN4ZZY > .customStatusEmoji-3a2-Zo.customStatusSoloEmoji-1tDhmL:only-child {
  margin-right: auto;
  margin-left: auto;
}


.container-16j22k {
  /* You may need to adjust this */
  --translate-px: -389px;
  height: 1px;
  transform: translateY(var(--translate-px));
  background: transparent;
}
.container-16j22k::before {
  content: 'You are offline!';
  top: 0.5px;
  position: absolute;
  font-weight: 900;
  font-size: smaller;
  color: var(--info-danger-foreground);
  text-transform: uppercase;
}
.container-16j22k > .content-1-zrf2,
.container-16j22k > .problems-3mgf6w {
  display: none;
}
:root {
    --profile-border-width: 2px
}
.root-3QyAh1 {
    padding: var(--profile-border-width);
    border-radius: 10px;
}
.topSection-y3p-_D {
    margin-top: 239px;
}
.topSection-y3p-_D .banner-2QYc2d {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-size: calc(100% - calc(var(--profile-border-width) * 2));
    background-position: center var(--profile-border-width);
    z-index: -1;
}
.topSection-y3p-_D .banner-2QYc2d:after {
    margin: calc(var(--profile-border-width) - 2px);
    content: "";
    display: block;
    background-color: inherit;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    width: 100%;
    height: 244px;
    clip-path: path("M 0 0 V 12 H 2 Q 2 2 12 2 V 0 Z M 604.5 0 V 12 H 602.5 Q 602.5 2 592.5 2 V 0 Z");
}
.header-4zuFdR {
    top: -76px;
}
.body-r6_QPy {
    border-radius: 0 0 8.5px 8.5px;
}
.winButtonClose-1HsbF- {
  color:#ed4245;
}
.winButtonMinMax-PBQ2gm[aria-label="Maximize"] {
  color:#d5b60a;
}
.winButtonMinMax-PBQ2gm[aria-label="Maximize"]:hover {
  background-color:#d5b60a;
  color:white;
}
.winButtonMinMax-PBQ2gm[aria-label="Minimize"] {
  color:#2541B2;
}
.winButtonMinMax-PBQ2gm[aria-label="Minimize"]:hover {
  background-color:#2541B2;
  color:white;
}
.avatarWrapperNormal-26WQIb {display:none !important;}
.pointerEvents-2zdfdO{width: 30px;height: 30px;Y: 0px;X: 0px;}
.headerTop-3vNv-a {
  padding-top:10px !important;
}
.tipTitle-GL9qAt{content:"";font-size: 0px;}
.tipTitle-GL9qAt::before{content:"Hey...";font-size: 12px;}
.tip-2cgoli{content:"";font-size: 0px;}
.tip-2cgoli::before{content: "You're Offline :c";font-size: 16px;}
.problems-3mgf6w.slideIn-sCvzGz{display:none;}
.container-16j22k.fixClipping-3qAKRb{background:rgba(0, 0, 0, 0.1);backdrop-filter: blur(5px);}

.headerTop-3vNv-a, .rolesList-1geHY1, .headerTextNormal-2mGWX3, .customStatus-oN4ZZY, .aboutMeTitle-1IYtPE{
  display: flex;
  justify-content: center;
  text-align: center;
}
.avatarWrapperNormal-26WQIb{
  position: absolute;
  left: 35%;
}
.profileBadges-ohc0Vu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100px;
  transform: translateY(-8px);
  position: absolute;
  transform: translate(-250px);
}
.userPopout-xaxa6l .input-cIJ7To, .aboutMeSection-1Fw5Ia, .bodyTitle-1ySSKn, .textarea-2r0oV8, .marginBottom8-AtZOdT.size14-e6ZScH{
  text-align: center;
}

/* Message Fly-in */
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.message-2qnXI6 {
  animation: slide-up 0.4s ease;
}
